<div class="close-dialog"><button mat-flat-button (click)="closeModal()"><em class="material-icons">close</em></button></div>
<div *ngIf="!recoverySended">
  <h1 class="text-home font-weight-bold title-1">Recuperación de contraseña</h1>
  <div mat-dialog-content>
    <p class="cont-3 pt-4 mb-0">Introduzca su email para recuperar la contraseña</p>
    <form [formGroup]="recoveryForm">
      <mat-form-field class="mt-4 w-75">
        <input autocomplete="off" matInput type="email" formControlName="email" placeholder="Introduce tu email">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button (click)="sendEmail()" [disabled]="recoveryForm.invalid" class="btn-primary-comp">Enviar email</button>
  </div>
</div>
<div *ngIf="recoverySended">
  <h1 class="text-home font-weight-bold title-1">¡Procesado con éxito!</h1>
  <div mat-dialog-content>
    <p class="cont-3 pt-4 mb-0">Si el email es válido recibirá un correo desde el que cambiar su contraseña. Si no lo encuentra revise la carpeta de Spam.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeModal()" mat-flat-button class="btn-stroked-primary">Entendido</button>
  </div>
</div>
