<div class="loading-table" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="close-dialog">
  <button mat-button (click)="close()"><em class="material-icons">close</em></button>
</div>
<h1 class="mat-dialog-title primary-color"></h1>
<mat-dialog-content>
  <mat-card-title>Estado candidatura de {{candidature.employee.personalData.name}}
    {{candidature.employee.personalData.lastName}}</mat-card-title>

  <p><strong>Tasas:</strong> Pagadas</p>
  <p><strong>Resultado baremación</strong> {{result}}</p>


  <mat-form-field>
    <input type="text" matInput readonly="true" [value]="result" placeholder="Puntuación">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select required>
      <mat-option>EN PROCESO</mat-option>
      <mat-option>ADMITIDO</mat-option>
      <mat-option>NO ADMITIDO</mat-option>
    </mat-select>

    <mat-hint>{{'genericMessages.requiredField' | translate}}</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Mensaje">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id urna non eros pharetra mattis quis ac nulla. Donec interdum congue erat eget sodales. Nunc ac imperdiet erat. Proin aliquam elementum nisl nec sollicitudin. Vestibulum a mattis elit, gravida volutpat urna. Nulla luctus enim est, at pulvinar metus ornare et. Nunc elementum, nisl a venenatis convallis, enim dolor suscipit dolor, sed congue orci augue a sem. Maecenas tempus maximus imperdiet
      </textarea>
    <mat-hint>{{'genericMessages.requiredField' | translate}}</mat-hint>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="mt-m right" fxLayout fxLayoutAlign="end">
  <button class="btn-sm" (click)="close()" mat-button>{{'genericMessages.cancel' | translate}}</button>
  <button class="btn-primary" color="primary" (click)="close()"
    mat-button>{{'genericMessages.save' | translate}}</button>
</mat-dialog-actions>