<div class="close-dialog">
  <button mat-flat-button (click)="close()"><em class="material-icons">close</em></button>
</div>
<h1 mat-dialog-title>{{'usersAdmin.uploadTemplate.title' | translate}}</h1>
<div mat-dialog-content>

  <div class="drop-section">
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
      [uploader]="uploader" (click)="fileInput.click()" class="my-drop-zone">
      <small class="p-m">{{'usersAdmin.uploadTemplate.uploadBox' | translate}}</small>
    </div>
  </div>
  <input type="file"
    accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" #fileInput
    ng2FileSelect [uploader]="uploader" [disabled]="uploader.isUploading" style="display: none" />
  <div class="mt-sm text-center f-p"><small>{{'usersAdmin.uploadTemplate.excelFiles' | translate}}</small></div>
  <div class="mt-m" *ngIf="uploader?.queue?.length">
    <small>{{uploader?.queue[0]?.file.name}}</small>
    <mat-progress-bar *ngIf="uploader.isUploading" [mode]="progressBarMode" [value]="uploader?.queue[0]?.progress">
    </mat-progress-bar>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="uploader.cancelAll(); close('cancelled')">{{'genericMessages.cancel' | translate}}</button>
  <button mat-flat-button class="btn-primary" (click)="uploadFile()"
    [disabled]="!uploader.getNotUploadedItems().length || uploader.isUploading">{{'genericMessages.uploadFile' | translate}}</button>
</div>