.bg-tags {
  background-color: lightsteelblue;
  margin-left: 10px;
}
.hide {
  display: none;
}

.pull-right {
  position: absolute;
  right: 50px;
  top: 6px;
}
.mat-card .mat-card-header .pull-right .mat-icon {
  top: -5px;
}
.color-white {
  color: #fff !important;
}

.mat-card.card-dark-header .mat-card-content {
  margin-top: 15px;
}
