.status{
    margin-left: 54px;
}
.block .handle{
    cursor: move;
}
.block { clear: both; display: block; position: relative; height: auto; overflow: hidden; }
.url {
  margin-left: 32px;
}
.subUrl{
  margin-left: 39px;
}

.bot-buttons {
    margin-top: 15px;
}
.kv-m-important { margin-top: 0px; margin-bottom: 0px; }
.l-gray { color: #C6C6C6; }

//ngx d&d
.dndList {
  margin-right: 30px;
  transition: all 300ms ease;
  &.dndDragover {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.divBorder{
  margin: 2px;
  // border: 1px solid gray;
}

:host {
  display: block;
  box-sizing: border-box;
}
.dndDragging {
  border: 1px solid #6a6a6a;
}
.dndDraggingSource {
  opacity: .5;
  transform: scale(.3);
}
.dndPlaceholder {
  min-height: 50px;
  border: 1px dashed #6a6a6a;
  background-color: rgba(0, 0, 0, 0.1);
}
[draggable=true] {
  cursor: pointer;
}
[draggable].dndDraggableDisabled {
  cursor: not-allowed;
  opacity: .7;
}
[dndHandle] {
  display: inline-block;
  padding: 4px;
  // border: 1px solid darkgray;
  border-radius: 50%;
}
[dndDropzone] {
  // border: 1px rgb(80, 80, 80) solid;
  background-color: #eee;
  border-radius: 4px;
  // min-width: 400px;
  min-height: 50px;
}
[dndDropzone].dndDropzoneDisabled {
  cursor: no-drop;
  opacity: .7;
}
[dndDropzone].dndDragover {
  border-color: #6a6a6a;
}

.row.dndList.layout-padding {
  padding: 10px;
  box-sizing: border-box;
  .block {
    border: 1px #ccc solid;
    min-width: 400px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #fff !important;
    [dndDropzone] {
      background: #fff !important;
    }
  }
  :last-child {
    margin-bottom:0;
  }
}

.children {
  .block {
    width: 92% !important;
    margin-left: 4%;
    background: #fff !important;
  }
  &:last-child {
    margin-bottom: 10px !important;
  }
}

/*w 900*/
@media screen and (max-width: 56.24em) {
  .showButtons {
    display:none !important;
  }

  .row.dndList.layout-padding {
    min-width: 0;

    .block {
      min-width: 0;
    }

  }

}

@media screen and (min-width: 56.25em) {
  .showDropdown {
    display:none !important;
  }
}

$information-mobile-s: "only screen and (max-width: 480px)";
@media #{$information-mobile-s} {
  .children {
    min-width: 0;
    .block {
      // max-width: 87%;
    } 
  }
}
