.announcements-container {
    .sort-by-select {
        width: 210px;
        margin-right: 20px;
    }
    .actions-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .card-dark-header {
        margin-top: 25px;
    }
}
.pagination-container{
    display: flex;
    justify-content: space-between;
}