<div class="row">
    <app-breadcrumb breadcrumbs="Talentoo,Admin,{{ 'unitiesAdmin.title' | translate }}"></app-breadcrumb>

    <div class="col-12">
        <button [routerLink]="['add']" mat-flat-button class="btn-primary btn-sm">
            <mat-icon class="mr-sm">add_circle_outline</mat-icon>{{'unitiesAdmin.addUnity' | translate}}
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <mat-card class="card-dark-header">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>bubble_chart</mat-icon>
                </mat-card-title>
                <p id="aria">{{'unitiesAdmin.title' | translate}}</p>
                <button *ngIf="dataSource.data !== null && dataSource.filteredData.length !== 0" mat-flat-button
                    title="{{'genericMessages.makeSearch' | translate}}" matTooltip="{{'genericMessages.makeSearch' | translate}}"
                    matTooltipPosition="below" class="pull-right btn-primary with-icon no-bg" (click)="searchUnities()">
                    <mat-icon aria-label="Search button">search</mat-icon>
                    {{'genericMessages.search' | translate}}
                </button>
            </mat-card-header>
            <div class="clearfix"></div>
            <mat-card-content *ngIf="dataSource" class="with-table without-mat-filter">
                <div class="loading-table" *ngIf="loading">
                    <mat-spinner></mat-spinner>
                </div>
                <div *ngIf="dataSource.filteredData && dataSource.filteredData.length === 0 && !loading">
                    <p class="description no-items">
                        <mat-icon>error_outline</mat-icon>
                        {{'genericMessages.noElements' | translate}}
                    </p>
                </div>
                <table matSort mat-table aria-describedby="aria" [dataSource]="dataSource"
                    *ngIf="dataSource.data !== null && dataSource.filteredData.length !== 0">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell scope="col" *matHeaderCellDef>{{'genericMessages.name' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <strong>{{element.name}}</strong><br>
                            <small *ngIf="element.desc"><strong>{{'genericMessages.desc' | translate}}:</strong>
                                {{element.desc}}</small>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell scope="col" *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item [routerLink]="['view', element._id]">
                                    <mat-icon>add_circle</mat-icon>
                                    <span>{{'genericMessages.see' | translate}}</span>
                                </button>
                                <button mat-menu-item [routerLink]="['edit', element._id]">
                                    <mat-icon>mode_edit</mat-icon>
                                    <span>{{'genericMessages.edit' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="deleteUnity(element)">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{'genericMessages.delete' | translate}}</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
                </table>
                <div *ngIf="search" class="mb-m">
                    <div class="clearfix mt-sm"></div>
                    <a (click)="backToAll()" class="fake-button btn-sm btn-stroked-primary">
                        <mat-icon>keyboard_arrow_left</mat-icon>{{'genericMessages.backToAllF' | translate}}
                    </a>
                </div>
                <mat-paginator *ngIf="dataSource.data !== null" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </mat-card-content>
            <div class="clearfix"></div>
        </mat-card>
    </div>
</div>