<div class="row">
  <div class="col-12">
    <mat-accordion class="dark-header">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-sm mr-sm">person</mat-icon> Personal data<br>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>El schema de datos personales extra no se crea al instanciar la aplicación. Se crea la primera vez que el admin añade un input en la vista</p>
        <p>El administrador puede ir añadiendo inputs sin que el resto de usuarios lo vean.</p>
        <p>Para que el resto de usuarios vean y puedan rellenar los datos el administrador deberá publicar el schema.</p>
        <ul>
          <li><b>¿Cómo funcionan blocks y versions en el objeto personal data</b>
            <ul>
              <li>En blocks se guarda la version que ve el administrador en la edición.</li>
              <li>En versions se van pusheando cada vez que el admin "publica" y la última de ese array es a la que los usuarios tendrán acceso para añadir datos.</li>
              <li>La idea en un futuro es permitir al admin cambiar de version por eso las vamos guardando.</li>
            </ul>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>