.edit-position-card {
  div[class^="col"] {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-select{
  max-height: 225px;
  overflow-y: auto;
}

$ninehundred: "only screen and (max-width: 900px)";
@media #{$ninehundred} {
  .col-10, .col-2, .col-6, .col-4 {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
}