<div *ngIf="!loading">
  <div class="row container mb-l">

    <div style="display: flex;flex-direction: row; align-items: center;">
      <div *ngIf="dashboards.length && !dashboardSelected?.dashboard?.globalFilter.filters.length" class="col-12">
        <mat-form-field floatLabel="never">
          <mat-label *ngIf="dashboardSelected">{{dashboardSelected.name}} - {{dashboardSelected.finishDate | date}}
          </mat-label>
          <mat-select (selectionChange)="changePanelControl($event)">
            <mat-option *ngFor="let survey of dashboards;let i = index" [value]="i">
              {{survey.name}} - {{survey.finishDate | date}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="dashboards.length && dashboardSelected?.dashboard?.globalFilter.filters.length" class="col-12">
        <nav mat-tab-nav-bar [backgroundColor]="background">
          <a mat-tab-link *ngFor="let survey of dashboards;let i = index" (click)="changePanelControl({value:i},survey)"
            [active]="dashboardSelected._id === survey._id"> {{survey.name}} </a>
        </nav>
      </div>
      <button *ngIf="dashboards && dashboards?.length" class="ml-sm" (click)="refreshData()" mat-fab color="primary"
        aria-label="Example icon button with a delete icon">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div class="col-12" *ngIf="dashboards && !dashboards?.length">
      <mat-card>
        <mat-card-content>
          <mat-card-subtitle>No hay dashboard disponible.
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>


<div class="row mb-l" *ngIf="dashboardSelected?.dashboard?.globalFilter?.filters.length">
  <mat-accordion>
    <mat-expansion-panel #mep="matExpansionPanel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aplica filtros
        </mat-panel-title>
        <mat-panel-description>
          <span [ngSwitch]="filterSelected">
            <span *ngSwitchCase="true">Hay filtros aplicados</span>
            <span *ngSwitchDefault> No hay filtros aplicados</span>
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-global-filter (applyFilters)="applyFilters($event,mep)" [resetForm]="resetFiltersForm"
        [filters]="dashboardSelected.dashboard.globalFilter.filters">
      </app-global-filter>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="dashboardSelected && !loading">
  <div class="row container fullWidth-wrapper" *ngFor="let row of dashboardSelected.dashboard.rows;let i = index">
    <app-row [dashboard]="dashboardSelected" [desc]="dashboardSelected.desc" [index]="i" [row]="row">
    </app-row>
  </div>
</div>

<div class="loading-table" *ngIf="loading">
  <mat-spinner>Cargando, por favor espere...</mat-spinner>
</div>