<app-breadcrumb breadcrumbs="Talentoo,Admin,{{ 'manageCheckInOutCompany.title' | translate }}"></app-breadcrumb>

<div class="row">
    <div class="col-12">
        <mat-card class="card-dark-header">
            <mat-card-header class="with-button-right">
                <mat-card-title id="aria">{{'manageCheckInOutCompany.teamList' | translate}}</mat-card-title>

                <button title="Realizar búsqueda" mat-flat-button (click)="openSearchEmployeeModal()" matTooltip="Realizar búsqueda" matTooltipPosition="below" class="pull-right btn-primary with-icon no-bg">
          <mat-icon>search</mat-icon> {{'genericMessages.search' | translate}}
        </button>

            </mat-card-header>
            <mat-card-content class="overflow-x-auto">

                <div class="loading-table" *ngIf="dataSource.loading$ | async">
                    <mat-spinner></mat-spinner>
                </div>

                <table matSort mat-table aria-describedby="aria" [dataSource]="dataSource">
                    <ng-container matColumnDef="photo" sticky>
                        <th mat-header-cell scope="col" *matHeaderCellDef>{{'manageCheckInOutCompany.avatar' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="text-left">
                            <div class="avatar-sm">
                                <app-avatar [user]="element"></app-avatar>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="personalData.name">
                        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>{{'genericMessages.name' | translate}}</th>
                        <td mat-cell *matCellDef="let element"><strong>{{element.personalData.name}}</strong></td>
                    </ng-container>

                    <ng-container matColumnDef="personalData.lastName">
                        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>{{'genericMessages.lastName' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.personalData.lastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>{{'manageCheckInOutCompany.position' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.position.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell scope="col" *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="seeCheckInOut(element)">
                  <mat-icon>today</mat-icon>
                  <span>{{'genericMessages.checkInOuts' | translate}}</span>
                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
                </table>
                <div *ngIf="dataSource.totalEmployees === 0">
                    <p class="description no-items">
                        <mat-icon>error_outline</mat-icon>
                        {{'genericMessages.noResultsSimple' | translate}}
                    </p>
                </div>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" [length]="dataSource.totalEmployees" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>