mat-card-header {
    justify-content: space-between;
}

.cdk-column-rols {
    width: 30%;
}

.cdk-column-position {
    width: 25%;
}

.cdk-column-name,
.cdk-column-lastName {
    width: 15%;
}

.mat-cell,
.mat-cell-header {
    padding: 10px;
}

.loading-table {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00000059;
    left: 0;
    top: 0;
}

mat-spinner {
    top: 30px;
}

.dropDate {
    display: block;
    margin-top: 1%;
}
