<app-breadcrumb breadcrumbs="Talentoo,Acerca de,Versiones"></app-breadcrumb>

<div class="row">
  <div class="col-12">
    <!-- V106 -->
    <mat-accordion class="dark-header">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>V.1.0.6</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="clearfix"></div>
        <!-- Contenido del acordeón -->
        <p><strong>Nuevas funcionalidades</strong></p>
        <ul class="unordered-list">
          <li class="item-listed no-border f-n" *ngFor="let item of [1,2,3,4,5]; let i = index">
            Item de lista {{i}}
          </li>
        </ul>
        <p><strong>Issues solucionadas</strong></p>
        <ul class="unordered-list">
          <li class="item-listed no-border f-n" *ngFor="let item of [1,2,3,4,5]; let i = index">
            Item de lista {{i}}
          </li>
        </ul>
        <div class="clearfix"></div>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- END V106 -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- V105 -->
    <mat-accordion class="dark-header">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>V.1.0.5</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="clearfix"></div>
        <!-- Contenido del acordeón -->
        <p><strong>Nuevas funcionalidades</strong></p>
        <ul class="unordered-list">
          <li class="item-listed no-border f-n" *ngFor="let item of [1,2,3,4,5]; let i = index">
            Item de lista {{i}}
          </li>
        </ul>
        <p><strong>Issues solucionadas</strong></p>
        <ul class="unordered-list">
          <li class="item-listed no-border f-n" *ngFor="let item of [1,2,3,4,5]; let i = index">
            Item de lista {{i}}
          </li>
        </ul>
        <div class="clearfix"></div>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- END V105 -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- V100 -->
    <mat-accordion class="dark-header">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>V.1.0.0</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="clearfix"></div>
        <!-- Contenido del acordeón -->
        <p><strong>Nuevas funcionalidades</strong></p>
        <ul class="unordered-list">
          <li class="item-listed no-border f-n" *ngFor="let item of [1,2,3,4,5]; let i = index">
            Item de lista {{i}}
          </li>
        </ul>
        <p><strong>Issues solucionadas</strong></p>
        <ul class="unordered-list">
          <li class="item-listed no-border f-n" *ngFor="let item of [1,2,3,4,5]; let i = index">
            Item de lista {{i}}
          </li>
        </ul>
        <div class="clearfix"></div>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- END V100 -->
  </div>
</div>
