<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Breadcrumb y card básica"></app-breadcrumb>
<div class="row">

  <div class="col-12">
    <button mat-flat-button class="btn-primary btn-sm mr-m">
      <mat-icon class="mr-sm">add_circle_outline</mat-icon>Botón
    </button>
    <button mat-flat-button class="btn-primary btn-sm mr-m">
      <mat-icon class="mr-sm">add_circle_outline</mat-icon>Botón
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card class="card-dark-header">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>speaker_notes</mat-icon>
        </mat-card-title>
        <p>Card dark header title</p>
      </mat-card-header>
      <div class="clearfix"></div>
      <mat-card-content>
        <p class="description">
          Card content
        </p>
      </mat-card-content>
      <div class="clearfix"></div>
      <mat-card-actions class="right">
        <button mat-flat-button class="btn-primary">
          <span class="ml-sm">Primary</span>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-card-actions>
      <div class="clearfix"></div>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Breadcrumb + botones</p>
    <code><pre>{{breadcrumb}}</pre></code>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Card Básica</p>
    <code><pre>{{card1}}</pre></code>
  </div>
</div>