.equal-height {

	.mat-card {
		height: 100%;
		box-sizing: border-box;
	}

}

.mat-card-avatar {

	overflow: hidden;
	border-radius: 50%;
	margin-right: 8px;

	img {
		width: 100%;
		height: auto;
	}

}

.mat-card-header-text {
	margin:0 !important;
}

.mat-card {

	.mat-card-content {

		margin-top: 8px;
		margin-bottom: 0px;

		.subtitle {
			font-weight: bold;
			font-size: 18px;
		}

		.info-box {
			padding: 20px;
			background-color: lighten($gray, 60%);
		}

		.content-item {

			padding-bottom: 20px;

			.title {
				font-size:1.2em;
				font-weight: bold;
				margin-top: 20px;
			}

			.mat-accordion {

				.mat-expansion-panel {
					box-shadow: 0 0 0 0 rgba(0,0,0,0);
				}

			}

		}

		&.with-table {
			overflow-x: auto !important;
		}

	}

	.mat-card-header {

		&.with-button-right {justify-content: space-between;}

		.pull-right {
			right: 24px;
			position: absolute;
    		top: 7px;
		}

		.mat-card-header-text {
			height:48px;
			padding: 0 24px;
			.mat-card-title {
				font-size: 15px !important;
				margin-bottom: 0px;
				margin-top: 15px;
			}
		}

		.mat-icon {
			width: 14px;
			height: 14px;
			font-size: 14px;
			position: relative;
			top: 2px;
		}

		&.card-header-with-menu {

			.mat-card-header-text {

				width: calc(100% - 90px);

			}

			button.mat-icon-button {margin-top: 5px;}

		}

	}

	&.card-dark-header, &.blank-header {

		padding: 0;
		overflow: hidden;

		.mat-card-header {

			.mat-card-header-text {
				.mat-card-title {
					&.with-button {
						margin-bottom: 10px;
						margin-top: 2px;
					}
				}
				.mat-card-subtitle {display: inline-block;margin-top:0px;}
			}

		}

		.mat-card-content {
			margin: 16px 0;
			padding: 0 24px;
		}

		.mat-card-actions {
			padding: 0 24px 0px;
			margin-left: 0px;
    		margin-right: 0px;
			&:last-child {
				padding-bottom: 24px;
			}
		}

	}

	&.card-dark-header {
		.mat-card-header {
			.mat-card-header-text {
				.mat-card-title {
					color: $white;
				}
				.mat-card-subtitle {color: $white;}
			}

			.mat-icon {
				color: $white;
				fill: $white !important;
			}
		}
	}

	&.blank-header {
		// Está en user service para poder usar css vars
	}

  /*w 480*/ // oculta el rango del paginator hasta 480px
  @media (max-width: 30em) {
    .mat-paginator-range-label {
      display: none !important;
    }
  }

}

.card-custom-actions {
	margin-top:0 !important;
	font-size: 16px;
	.text, button {
		font-size: .8em;
	}
}

.mat-card-actions {
	margin-left: 0px;
    margin-right: 0px;
}

.recognition-evaluations {

	.mat-card {

		box-sizing: border-box;
		border: 1px solid transparent;
		transition: all .2s ease;

		&:hover, &.selected {
			transition: all .2s ease;
			border: 1px solid $dark;
		}

	}

}
