<mat-card class="card-dark-header">
    <mat-card-header>
        <mat-card-title>
            <mat-icon>speaker_notes</mat-icon>
        </mat-card-title>
        <p id="aria">
            <span
                *ngIf="announcementReceived && announcementReceived.title">{{'selection.announcements.offersBy' | translate}}
                {{announcementReceived.title}}</span>
            <span *ngIf="!announcementReceived.title">{{'genericMessages.offers' | translate}}</span>
        </p>
    </mat-card-header>
    <div class="clearfix"></div>
    <mat-card-content>
        <div *ngIf="searchResultsView" class="mb-m">
            <div class="clearfix mt-sm"></div>
            <a [routerLink]="['/convocatorias-internas']" class="fake-button btn-sm btn-stroked-primary">
                <mat-icon>keyboard_arrow_left</mat-icon>{{'genericMessages.return' | translate}}
            </a>
        </div>
        <div class="loading-table" *ngIf="dataSource?.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>

        <div class="row">
            <div class="col-9">
                <mat-form-field>
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput [formControl]="globalFilter" placeholder="Filtrar elementos">
                </mat-form-field>
            </div>
            <div class="col-3" *ngIf="!positionId">
                <app-visibility-filter [user]="user" (filterByVisibilityEvent)="filterByVisibility($event)">
                </app-visibility-filter>
            </div>
        </div>
        <div *ngIf="dataSource?.total === 0">
            <p class="description no-items">
                <mat-icon>error_outline</mat-icon>
                {{'genericMessages.noElements' | translate}}
            </p>
        </div>
        <table matSort aria-describedby="aria" mat-table [dataSource]="dataSource"
            [ngClass]="{'d-none': dataSource?.total === 0}">
            <ng-container matColumnDef="name">
                <th mat-header-cell scope="col" *matHeaderCellDef>{{'genericMessages.offers' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <div class="mt-m mb-m">
                        <strong>{{element.title}}</strong><br>
                        <small><strong>{{'genericMessages.type' | translate}}: </strong>
                            <span class="visibility-type" [ngSwitch]="element.visibility">
                                <span *ngSwitchCase="'public'">{{public}} -&nbsp;</span>
                                <span *ngSwitchCase="'private'">{{private}} -&nbsp;</span>
                                <span *ngSwitchCase="'mobility'">{{mobility}} -&nbsp;</span>
                                <span *ngSwitchCase="'job'">{{job}} -&nbsp;</span>
                                <span *ngSwitchDefault>{{noData}} -&nbsp;</span>
                            </span>
                        </small>
                        <small><strong>{{'genericMessages.position' | translate}}: </strong>
                            {{element.position ? element.position.name : ('genericMessages.noData' | translate )}} -
                        </small>
                        <small><strong>{{'genericMessages.publication' | translate}}: </strong>
                            {{element.startsAt ? (element.startsAt | date:'dd/MM/yy') : ('genericMessages.noData' | translate )}}
                            - </small>
                        <small><strong>{{'genericMessages.expiration' | translate}}: </strong>
                            {{element.finishAt ? (element.finishAt | date:'dd/MM/yy') : ('genericMessages.noData' | translate )}}
                            - </small>
                        <small><strong>{{'genericMessages.vacancies' | translate}}: </strong>
                            {{element.vacancies ? element.vacancies : ('genericMessages.noData' | translate )}} -
                        </small><br>
                        <small><strong>{{'genericMessages.announcement' | translate}}: </strong>
                            {{element.announcement ? element.announcement.title : ('genericMessages.noData' | translate )}}
                            - </small>

                        <small *ngIf="offerClosed(element)">
                            <strong>{{'genericMessages.state' | translate}}: </strong>
                            <span>
                                {{'genericMessages.expired' | translate}}
                            </span>
                        </small>
                        <small *ngIf="!offerClosed(element)">
                            <span [ngSwitch]="element.state">
                                <strong>{{'genericMessages.state' | translate}}: </strong>

                                <span *ngSwitchCase="'incomplete'">
                                    {{'genericMessages.uncompleted' | translate}}
                                </span>

                                <span *ngSwitchCase="'closed'">
                                    {{'genericMessages.closed' | translate}}
                                </span>

                                <span *ngSwitchCase="'cancelled'">
                                    {{'genericMessages.canceled' | translate}}
                                </span>

                                <span *ngSwitchCase="'extended'">
                                    {{'genericMessages.extended' | translate}}
                                </span>

                                <span *ngSwitchCase="'published'">
                                    {{'genericMessages.valid' | translate}}
                                </span>
                            </span>
                        </small>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell scope="col" *matHeaderCellDef>{{'genericMessages.state' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="offerClosed(element)" class="fake-mat-chip-sm">
                        {{'genericMessages.expired' | translate}}
                    </div>
                    <div *ngIf="!offerClosed(element)">
                        <div *ngIf="element.candidatureState !== ''">
                            <div *ngIf="element.candidatureState === 'presented'" class="fake-mat-chip-sm">
                                {{'genericMessages.presented' | translate}}
                            </div>
                            <div *ngIf="(element.visibility==='mobility' || element.visibility==='job') &&
                            element.candidatureState === 'subscribed'" class="fake-mat-chip-sm">
                                {{'genericMessages.subscribed' | translate}}
                            </div>
                            <div *ngIf="element.candidatureState === 'revoked'" class="fake-mat-chip-sm warning">
                                {{'genericMessages.revoked' | translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell scope="col" *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openOfferModal(element)">
                            <mat-icon>visibility</mat-icon>
                            <span>{{'genericMessages.seeDetails' | translate}}</span>
                        </button>

                        <button *ngIf="applyOrSubscribe(element) === 'apply'"
                            [disabled]=" !employeeHasCurriculum || offerClosed(element) ||
                            element.candidatureState==='presented' || element.vacancies===0 || (element.candidatureState === 'revoked' && element.penalty)" mat-menu-item
                            (click)="applyOffer(element, 'presented')">
                            <mat-icon>edit</mat-icon>
                            <span>{{'genericMessages.present' | translate}}</span>
                        </button>

                        <button
                            *ngIf="applyOrSubscribe(element) === 'subscribe' && (element.visibility === 'mobility' || element.visibility === 'job')"
                            [disabled]="!employeeHasCurriculum || offerClosed(element) || element.candidatureState === 'subscribed' || (element.candidatureState === 'revoked' && element.penalty)"
                            mat-menu-item (click)="applyOffer(element, 'subscribed')">
                            <mat-icon>edit</mat-icon>
                            <span>{{'genericMessages.subscribe' | translate}}</span>
                        </button>

                        <button [disabled]="element.candidatureState === 'revoked' || !element.candidatureState"
                            mat-menu-item (click)="deApplyOffer(element)">
                            <mat-icon>delete</mat-icon>
                            <span>{{'genericMessages.revoke' | translate}}</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
        </table>
        <mat-paginator [ngClass]="{'d-none': dataSource?.total === 0}" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
            [length]="dataSource?.total" showFirstLastButtons>
        </mat-paginator>
    </mat-card-content>
    <div class="clearfix"></div>
</mat-card>