<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Listas"></app-breadcrumb>

<div class="row">
  <div class="col-12">
    <mat-card class="card-dark-header">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>speaker_notes</mat-icon>
        </mat-card-title>
        <p>Listas</p>
      </mat-card-header>
      <div class="clearfix"></div>
      <mat-card-content>
        <ul class="unordered-list">
          <li class="item-listed no-border f-n" *ngFor="let item of [1,2,3,4,5]; let i = index">
            Item de lista {{i}}
          </li>
        </ul>
        <div class="clearfix"></div>
        <ul class="ordered-list">
          <li class="item-listed no-border f-n" *ngFor="let item of [1,2,3,4,5]; let i = index">
            Item de lista {{i}}
          </li>
        </ul>
        <div class="clearfix"></div>
      </mat-card-content>
      <div class="clearfix"></div>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Unordered</p>
    <code><pre>{{unordered}}</pre></code>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Ordered</p>
    <code><pre>{{ordered}}</pre></code>
  </div>
</div>