.closeContainer {
    float: right;
    top: -10px;
    position: relative;
}

.loading-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-dialog-content {
    max-height: 55vh;
}

mat-form-field {
    margin-bottom: 5px;
}

