<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Lista de usuarios"></app-breadcrumb>
<div class="row">
    <div class="col-12 search-results-table">
        <mat-card>
            <mat-form-field *ngIf="dataSource.data && dataSource.data.length">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar resultados de búsqueda">
            </mat-form-field>
            <div class="col-12 mt-m" *ngIf="loading">
                <mat-spinner class="center"></mat-spinner>
            </div>
            <div *ngIf="noResults && !loading">
                <p class="description no-items">
                    <mat-icon>error_outline</mat-icon> No hay resultados de búsqueda
                </p>
            </div>
            <mat-card-content class="with-table search-results-table">
                <table mat-table aria-describedby="aria" [dataSource]="dataSource" class="users-table" *ngIf="dataSource.data !== null;">
                    <p hidden id="aria">user list</p>
                    <ng-container matColumnDef="photo">
                        <th mat-header-cell scope="col" *matHeaderCellDef>
                            <!--Foto-->
                        </th>
                        <td mat-cell *matCellDef="let element" class="td-avatar">
                            <div class="avatar-sm">
                                <app-avatar [user]="element"></app-avatar>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="userInfo">
                        <th mat-header-cell scope="col" *matHeaderCellDef>
                            <!--Nombre-->
                        </th>
                        <td mat-cell *matCellDef="let element" class="td-user-info">
                            <p class="title">
                                {{element.personalData.name}} {{element.personalData.lastName}}
                                <small *ngIf="element.dropDate" class="drop-date">Fecha de baja:
                                    {{element.dropDate |date:'mediumDate':'+0200':lang}}</small>
                            </p>
                            <p class="description text-sm mb-sm">
                                <mat-icon>person_pin</mat-icon>
                                <strong>{{(element.cardPosition.name)? element.cardPosition.name : ('genericMessages.noPositionSheet')}}</strong>
                            </p>
                            <a title="Ver datos personales" (click)="openPersonalDataModal(element)" class="pointer">
                                <mat-icon>insert_drive_file</mat-icon>
                                <span>Datos personales </span>
                            </a>
                            <span class="ml-sm hide-md" *ngIf="element.cardPosition.name"></span>
                            <a *ngIf="element.cardPosition.name" [routerLink]="['/organigrama', element.cardPosition.id]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="Ver organigrama">
                                <mat-icon>insert_drive_file</mat-icon>
                                <span>Ver organigrama</span>
                            </a>
                            <span class="ml-sm hide-md" *ngIf="element.cardPosition.name"></span>
                            <a title="Ver ficha de puesto" (click)="openCardPositionModal(element.cardPosition)" class="pointer" *ngIf="element.cardPosition.name">
                                <mat-icon>insert_drive_file</mat-icon>
                                <span>Ficha de puesto</span>
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell scope="col" *matHeaderCellDef>
                            <!-- ACTIONS -->
                        </th>
                        <td mat-cell *matCellDef="let element" class="td-actions">
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons [ngClass]="{'hide' : noResults}">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-12 code">
        <p class="title f-bold mt-sm mb-sm">Lista de usuarios</p>
        <code><pre>{{usersLists}}</pre></code>
    </div>
</div>