<div class="close-dialog">
  <button mat-button (click)="close()">
    <em class="material-icons">close</em>
  </button>
</div>
<h1 class="mat-dialog-title primary-color">
  {{(edit ? 'otherMerits.editMerit'  : 'otherMerits.addMerit') | translate}}</h1>

<mat-dialog-content>
  <form *ngIf="formGroup" [formGroup]="formGroup">
    <div class="row">
      <div class="col-12">
        <mat-form-field *ngIf="allMertis && requirement">
          <mat-select [disabled]="edit" name="merit" placeholder="Elige un criterio" formControlName="merit"
            (selectionChange)="changeMerit($event)">
            <mat-option [disabled]="alreadyUsed(merit)" *ngFor="let merit of  allMertis" [value]="merit">
              {{ 'otherMerits.'+[merit.label] | translate}}
            </mat-option>
          </mat-select>
          <mat-hint>{{ 'genericMessages.forms.requiredField' | translate }}</mat-hint>
          <mat-error>
            {{ 'genericMessages.forms.requiredField' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12" *ngIf="meritSelected">
        <mat-form-field *ngFor="let input of meritSelected.inputs">
          <mat-label> {{ 'otherMerits.'+[input.id] | translate}}</mat-label>
          <input (input)="onInput($event)" [type]="input.type" matInput placeholder="" formControlName="{{input.id}}" />
          <mat-hint>{{ 'genericMessages.forms.requiredField' | translate }}</mat-hint>
          <mat-error>
            {{ 'genericMessages.forms.requiredField' | translate }}
          </mat-error>
        </mat-form-field>
      </div>


    </div>
  </form>

  <div class="clearfix"></div>
</mat-dialog-content>

<div mat-dialog-actions>
  <div *ngIf="formGroup" class="mt-m" fxLayout fxLayoutAlign="end">
    <button class="mat-button" (click)="close(true)">{{ 'genericMessages.CANCEL' | translate }}</button>
    <button class="btn-primary" color="primary" (click)="saveData()" [disabled]="!formGroup.valid " mat-button>
      <span *ngIf="!edit">{{ 'genericMessages.add' | translate }}</span>
      <span *ngIf="edit">{{ 'genericMessages.ok' | translate }}</span>
    </button>
  </div>
</div>