.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  p{
    margin-left: 2px;
  }
}

.legend-container{
    display: flex;
    
    flex-direction: row;
    font-size: 15px;
}
