:host ::ng-deep ng-organization-manager-chart-node {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;

  margin: 0 auto;


	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

:host ::ng-deep ng-organization-manager-chart-node:only-child {

	padding-top: 0;
}

/*We will use ::before and ::after to draw the connectors*/

:host ::ng-deep ng-organization-manager-chart-node::before,  ng-organization-manager-chart-node::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
:host ::ng-deep ng-organization-manager-chart-node::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
:host ::ng-deep ng-organization-manager-chart-node:only-child::after,  ng-organization-manager-chart-node:only-child::before {
	display: none;
}

/*Remove left connector from first child and
right connector from last child*/
:host ::ng-deep ng-organization-manager-chart-node:first-child::before,  ng-organization-manager-chart-node:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
:host ::ng-deep ng-organization-manager-chart-node:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
:host ::ng-deep ng-organization-manager-chart-node:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

:host ::ng-deep ng-organization-chart-list::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}


// :host ::ng-deep ng-organization-manager-chart-node { display: table-cell !important; float: inherit !important; } 
