.personal-data {
  .mat-icon {
    font-size: 16px;
    color: #1166aa;
  }

  div[class^="col"] {
    margin-top: 0;
    margin-bottom: 0;
  }

  .right-header-personal-data {
    padding-top: 4% !important;
  }
}
.separation {
  width: 42px;
}

li.dropDate a {
  color: #afafaf !important
}