<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Modales"></app-breadcrumb>

<div class="row">
  <div class="col-12">
    <button mat-flat-button class="btn-primary" (click)="openModal(dataToModal)">
      <mat-icon>add</mat-icon> Lanzar modal
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Modal básica</p>
    <code><pre>{{modal}}</pre></code>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Ts</p>
    <code><pre>{{code}}</pre></code>
  </div>
</div>