<div class="row">
    <div class="col-12">
        <mat-card class="card-dark-header">

            <mat-card-header>
                <mat-card-title id="aria">{{userMessage}}</mat-card-title>
            </mat-card-header>
            <mat-card-content style="margin-top: 10px;">
                <table matSort aria-describedby="aria" mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>
                            {{'genericMessages.title'| translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <strong>{{element.title}}</strong>
                            <div class="desc">{{element.desc}}</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="open">
                        <th mat-header-cell scope="col" *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element;let i  = index" class="text-right">
                            <button *ngIf="element.surveyType == 'typeform'" type="button" class="btn-primary btn-sm btn-search-modal" mat-flat-button (click)="openSurvey(element.typeformUrl, element.type,i)">{{'surveyModal.surveyTable.make'|
                                  translate}}</button>
                            <button *ngIf="element.surveyType == 'custom'" type="button" class="btn-primary btn-sm btn-search-modal" mat-flat-button (click)="openCustomSurvey(element)">{{'surveyModal.surveyTable.make'|
                                  translate}}</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
                </table>
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[10, 20, 50]" [length]="pendingSurveys" showFirstLastButtons>
                </mat-paginator>

            </mat-card-content>


        </mat-card>
        <div *ngIf="!accountComponent" mat-dialog-actions style="display: flex;justify-content: center;align-self:center; margin-top: 10px;">
            <button type="button" mat-stroked-button class="btn-stroked-primary btn-search-modal" mat-flat-button (click)="closeModal()">
        {{'surveyModal.surveyTable.otherMoment'| translate}}</button>
        </div>
    </div>
</div>