<div class="row">
  <div class="col-12">
    <h3>
      <mat-icon>save</mat-icon> GUARDAR Y PUBLICAR OFERTAS Y CONVOCATORIAS<br>
    </h3>
    <mat-accordion class="dark-header">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>ADMIN</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="f-bold">1 - Creo una oferta/convocatoria nueva</p>
        <ul>
          <li>
            <p>1.1 -> <strong>¿Cuando la puedo guardar?</strong></p>
            <ul>
              <li>Para guardar una oferta/convocatoria nueva el único campo obligatorio es el título.</li>
              <li>Una oferta así estará "incompleta" y no podrá publicarse</li>
            </ul>
          </li>
          <li>
            <p>1.2 -> <strong>¿Cuándo la puedo publicar?</strong></p>
            <p><strong># Ofertas</strong></p>
            <ul>
              <li>Los campos obligatorios para publicar son:
                <ul>
                  <li>Posición/puesto</li>
                  <li>Categoría portal</li>
                  <li>Tipo</li>
                  <li>Plazas <small>*Solo para ofertas Públicas y Privadas.</small></li>
                  <li>Sueldo</li>
                  <li>Fecha de publicación</li>
                  <li>Fecha de Vencimiento</li>
                  <li>Descripción</li>
                </ul>
              </li>
              <li>Los campos opcionales para publicar son:
                <ul>
                  <li>Baremación</li>
                  <li>Fases</li>
                  <li>Documentación</li>
                  <li>Convocatoria enlazada</li>
                  <li>Tasas</li>
                </ul>
              </li>
            </ul>
            <p><strong># Convocatorias</strong></p>
            <ul>
              <li>Los campos obligatorios para publicar son:
                <ul>
                  <li>Categoría portal</li>
                  <li>Tipo</li>
                  <li>Fecha de publicación</li>
                  <li>Fecha de Vencimiento</li>
                  <li>Descripción</li>
                  <li>Que tenga al menos una oferta enlazada</li>
                </ul>
              </li>
              <li>No hay campos opcionales para publicar una convocatoria</li>
            </ul>
          </li>
        </ul>
        <p class="f-bold">2 - Edito una oferta/convocatoria</p>
        <p>Todo descrito en la creación aplica a la edición. Por ejemplo, si una oferta publicada se edita y se borra el sueldo o las fechas de publicación o vencimiento no encajan con la fecha actual pasará a estar incompleta.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>