<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Card básica"></app-breadcrumb>

<div class="row">
  <div class="col-12">
      <mat-card class="card-dark-header">
          <mat-card-header>
              <mat-card-title>
                  <mat-icon>speaker_notes</mat-icon>
              </mat-card-title>
              <p>Card dark header title</p>
          </mat-card-header>
          <div class="clearfix"></div>
          <mat-card-content>
              <p class="description">
                  Card content
              </p>
          </mat-card-content>
          <div class="clearfix"></div>
          <mat-card-actions class="right">
            <button mat-flat-button class="btn-primary">
              <span class="ml-sm">Primary</span>
              <mat-icon>chevron_right</mat-icon>
            </button>
          </mat-card-actions>
          <div class="clearfix"></div>
      </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Card Básica</p>
    <code><pre>{{cardMain}}</pre></code>
  </div>
</div>

<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Card Blank"></app-breadcrumb>

<div class="row">
  <div class="col-12">
      <mat-card class="blank-header">
          <mat-card-header>
              <mat-card-title>
                  <mat-icon>speaker_notes</mat-icon>
              </mat-card-title>
              <p>Card dark header title</p>
          </mat-card-header>
          <div class="clearfix"></div>
          <mat-card-content>
              <p class="description">
                  Card content
              </p>
          </mat-card-content>
          <div class="clearfix"></div>
          <mat-card-actions class="right">
            <button mat-stroked-button class="btn-stroked-primary">
              <span class="ml-sm">Primary</span>
              <mat-icon>chevron_right</mat-icon>
            </button>
          </mat-card-actions>
          <div class="clearfix"></div>
      </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Card Blank</p>
    <code><pre>{{cardBlank}}</pre></code>
  </div>
</div>

<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Acordeón"></app-breadcrumb>

<div class="row">
  <div class="col-12">
    <mat-accordion class="dark-header">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<span>Accordion title</span>
					</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="clearfix"></div>
        <!-- CONTENT -->
        <p class="description">Contenido del acordeón</p>
        <div class="clearfix"></div>
        <div class="accordion-actions mb-m right">
          <button mat-flat-button class="btn-primary">Button</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Acordeón</p>
    <code><pre>{{accordeon}}</pre></code>
  </div>
</div>