<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Columnas y grid"></app-breadcrumb>

<div class="row columns">
  <div class="col-12"></div>
  <div class="col-6"></div><div class="col-6"></div>
  <div class="col-3"></div><div class="col-6"></div><div class="col-3"></div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Grid básico</p>
    <code><pre>{{gridBasic}}</pre></code>
  </div>
</div>

<app-breadcrumb breadcrumbs="Talentoo,Guía de estilo,Columnas y cards"></app-breadcrumb>

<div class="row">
  <div class="col-6">
    <mat-card class="card-dark-header">
      <mat-card-header>
          <mat-card-title>
              <mat-icon>speaker_notes</mat-icon>
          </mat-card-title>
          <p>Card dark header title</p>
      </mat-card-header>
      <div class="clearfix"></div>
      <mat-card-content>
          <p class="description">
              Card content
          </p>
      </mat-card-content>
      <div class="clearfix"></div>
      <mat-card-actions class="right">
        <button mat-flat-button class="btn-primary">
          <span class="ml-sm">Primary</span>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-card-actions>
      <div class="clearfix"></div>
  </mat-card>
  </div><div class="col-6">
    <mat-card class="card-dark-header">
      <mat-card-header>
          <mat-card-title>
              <mat-icon>speaker_notes</mat-icon>
          </mat-card-title>
          <p>Card dark header title</p>
      </mat-card-header>
      <div class="clearfix"></div>
      <mat-card-content>
          <p class="description">
              Card content
          </p>
      </mat-card-content>
      <div class="clearfix"></div>
      <mat-card-actions class="right">
        <button mat-flat-button class="btn-primary">
          <span class="ml-sm">Primary</span>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-card-actions>
      <div class="clearfix"></div>
  </mat-card>
  </div>
  <div class="col-3">
    <mat-card class="card-dark-header">
      <mat-card-header>
          <mat-card-title>
              <mat-icon>speaker_notes</mat-icon>
          </mat-card-title>
          <p>Card dark header title</p>
      </mat-card-header>
      <div class="clearfix"></div>
      <mat-card-content>
          <p class="description">
              Card content
          </p>
      </mat-card-content>
      <div class="clearfix"></div>
      <mat-card-actions class="right">
        <button mat-flat-button class="btn-primary">
          <span class="ml-sm">Primary</span>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-card-actions>
      <div class="clearfix"></div>
  </mat-card>
  </div><div class="col-6">
    <mat-card class="card-dark-header">
      <mat-card-header>
          <mat-card-title>
              <mat-icon>speaker_notes</mat-icon>
          </mat-card-title>
          <p>Card dark header title</p>
      </mat-card-header>
      <div class="clearfix"></div>
      <mat-card-content>
          <p class="description">
              Card content
          </p>
      </mat-card-content>
      <div class="clearfix"></div>
      <mat-card-actions class="right">
        <button mat-flat-button class="btn-primary">
          <span class="ml-sm">Primary</span>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-card-actions>
      <div class="clearfix"></div>
  </mat-card>
  </div><div class="col-3">
    <mat-card class="card-dark-header">
      <mat-card-header>
          <mat-card-title>
              <mat-icon>speaker_notes</mat-icon>
          </mat-card-title>
          <p>Card dark header title</p>
      </mat-card-header>
      <div class="clearfix"></div>
      <mat-card-content>
          <p class="description">
              Card content
          </p>
      </mat-card-content>
      <div class="clearfix"></div>
      <mat-card-actions class="right">
        <button mat-flat-button class="btn-primary">
          <span class="ml-sm">Primary</span>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-card-actions>
      <div class="clearfix"></div>
  </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12 code">
    <p class="title f-bold mt-sm mb-sm">Grid cards</p>
    <code><pre>{{gridCards}}</pre></code>
  </div>
</div>